@import 'reset';
@import 'colors';
@import 'dimensions';
@import 'typo';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background: $color-background-body;
  color: $color-typo-dark;
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1rem; }

.page {
  min-height: 60vh;
  background: $color-background-content;

  &, &-footer, &-header {
    width: 100%;
    max-width: $viewport-lg;
    padding: $gutter * 2;
    margin: 0 auto;
  }

  &-footer,
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-background-footer;

    &, a { color: $color-typo-bright; }
    a.active { color: $color-accent; }
    a + a { margin-left: $gutter; }
  }

  &-logo {
    display: flex;
    align-items: center;
    color: $color-typo-dark;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;

    &:hover { text-decoration: none; }

    img { width: 90px; }
  }
}

.draw-result {
  ul {
    display: flex;

    li + li { margin-left: $gutter; }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 2px solid $color-typo-dark;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    &--additional { background-color: $color-accent; }
  }
}