@import 'reset';
@import 'colors';
@import 'dimensions';
@import 'typo';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background: $colorBackgroundBody;
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
}

main {
  width: 100%;
  max-width: $viewport-lg;
  padding: 0 $gutter;
  margin: 0 auto;
  background: $colorBackgroundContent;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }

.draw-result-item {
  background: $colorGrayLight;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}