@import 'reset';
@import 'colors';
@import 'dimensions';
@import 'typo';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background: $colorBackgroundBody;
  color: $colorTypoDark;
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
}

a {
  color: $colorAccent;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1rem; }

.page {
  min-height: 60vh;
  background: $colorBackgroundContent;

  &, &-footer, &-header {
    width: 100%;
    max-width: $viewport-lg;
    padding: $gutter * 2;
    margin: 0 auto;
  }

  &-footer,
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $colorBackgroundFooter;

    &, a { color: $colorTypoBright; }
    a + a { margin-left: $gutter; }
  }

  &-logo {
    display: flex;
    align-items: center;
    color: $colorTypoDark;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;

    &:hover { text-decoration: none; }

    img { width: 90px; }
  }
}

.draw-result-item {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}